{:deps     true
 :dev-http {8083 "public"}
 :builds   {:frontend {:target     :browser
                       :output-dir "resources/public/js"
                       :devtools   {:preloads [devtools.preload]}
                       :modules    {:main {:init-fn se.jherrlin.client.main/init}}}}}
