{:deps   true
 :builds {:frontend {:target            :browser
                     :asset-path        "/js"
                     :output-dir        "resources/public/js"
                     :devtools          {:preloads [devtools.preload]}
                     :module-hash-names true
                     :modules           {:main {:init-fn se.jherrlin.claraman.client.main/init}}}}}
