[Unit]
Description=Bomberman production service
After=network.target

[Service]
Type=simple
User=bomberman-app
Group=webapps
WorkingDirectory=/webapps/bomberman
ExecStart=/bin/bash -c 'mkdir -p logs && /usr/bin/java -Xmx512m -jar $$(ls -t bomberman-master*.jar | head -1)'
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target
