{:games
 {#uuid "942fe7a3-f970-4e84-8e74-31b786492493"
  {:game-id #uuid "942fe7a3-f970-4e84-8e74-31b786492493",
   :fire (),
   :stones
   ([4 1]
    [8 1]
    [11 1]
    [13 1]
    [14 1]
    [15 1]
    [3 2]
    [5 2]
    [9 2]
    [11 2]
    [13 2]
    [1 3]
    [2 3]
    [3 3]
    [4 3]
    [5 3]
    [6 3]
    [8 3]
    [9 3]
    [10 3]
    [11 3]
    [12 3]
    [13 3]
    [14 3]
    [15 3]
    [16 3]
    [1 4]
    [3 4]
    [5 4]
    [7 4]
    [15 4]
    [17 4]
    [1 5]
    [4 5]
    [6 5]
    [7 5]
    [9 5]
    [11 5]
    [12 5]
    [14 5]
    [16 5]
    [17 5]
    [3 6]
    [5 6]
    [7 6]
    [9 6]
    [15 6]
    [3 7]
    [4 7]
    [9 7]
    [10 7]
    [11 7]
    [12 7]
    [14 7]
    [16 7]
    [3 8]
    [7 8]
    [9 8]
    [11 8]
    [3 9]
    [4 9]
    [5 9]
    [6 9]
    [12 9]
    [13 9]
    [15 9]),
   :password "qwe",
   :game-name "qwe",
   :game-state :created,
   :flying-bombs (),
   :game-password "qwe",
   :players
   {#uuid "66df4631-3314-4712-843c-216d5d9b2135"
    {:user-facing-direction :south,
     :max-nr-of-bombs-for-user 3,
     :position [1 1],
     :fire-length 2,
     :game-id #uuid "942fe7a3-f970-4e84-8e74-31b786492493",
     :player-id #uuid "66df4631-3314-4712-843c-216d5d9b2135",
     :player-name "qwe",
     :player-nr 1}},
   :items
   ({:item-position-xy [4 1], :item-power :inc-fire-length}
    {:item-position-xy [5 3], :item-power :inc-fire-length}
    {:item-position-xy [16 3], :item-power :inc-fire-length}
    {:item-position-xy [1 4], :item-power :inc-fire-length}
    {:item-position-xy [6 5], :item-power :inc-fire-length}
    {:item-position-xy [9 6], :item-power :inc-fire-length}
    {:item-position-xy [3 8], :item-power :inc-fire-length}
    {:item-position-xy [7 8], :item-power :inc-fire-length}
    {:item-position-xy [6 9], :item-power :inc-fire-length}
    {:item-position-xy [13 9], :item-power :inc-fire-length}
    {:item-position-xy [15 9], :item-power :inc-fire-length}),
   :bombs (),
   :subject #uuid "942fe7a3-f970-4e84-8e74-31b786492493",
   :board
   [[{:type :wall, :x 0, :y 0}
     {:type :wall, :x 1, :y 0}
     {:type :wall, :x 2, :y 0}
     {:type :wall, :x 3, :y 0}
     {:type :wall, :x 4, :y 0}
     {:type :wall, :x 5, :y 0}
     {:type :wall, :x 6, :y 0}
     {:type :wall, :x 7, :y 0}
     {:type :wall, :x 8, :y 0}
     {:type :wall, :x 9, :y 0}
     {:type :wall, :x 10, :y 0}
     {:type :wall, :x 11, :y 0}
     {:type :wall, :x 12, :y 0}
     {:type :wall, :x 13, :y 0}
     {:type :wall, :x 14, :y 0}
     {:type :wall, :x 15, :y 0}
     {:type :wall, :x 16, :y 0}
     {:type :wall, :x 17, :y 0}
     {:type :wall, :x 18, :y 0}]
    [{:type :wall, :x 0, :y 1}
     {:type :floor, :x 1, :y 1}
     {:type :floor, :x 2, :y 1}
     {:type :floor, :x 3, :y 1}
     {:type :floor, :x 4, :y 1}
     {:type :floor, :x 5, :y 1}
     {:type :floor, :x 6, :y 1}
     {:type :floor, :x 7, :y 1}
     {:type :floor, :x 8, :y 1}
     {:type :floor, :x 9, :y 1}
     {:type :floor, :x 10, :y 1}
     {:type :floor, :x 11, :y 1}
     {:type :floor, :x 12, :y 1}
     {:type :floor, :x 13, :y 1}
     {:type :floor, :x 14, :y 1}
     {:type :floor, :x 15, :y 1}
     {:type :floor, :x 16, :y 1}
     {:type :floor, :x 17, :y 1}
     {:type :wall, :x 18, :y 1}]
    [{:type :wall, :x 0, :y 2}
     {:type :floor, :x 1, :y 2}
     {:type :wall, :x 2, :y 2}
     {:type :floor, :x 3, :y 2}
     {:type :wall, :x 4, :y 2}
     {:type :floor, :x 5, :y 2}
     {:type :wall, :x 6, :y 2}
     {:type :floor, :x 7, :y 2}
     {:type :wall, :x 8, :y 2}
     {:type :floor, :x 9, :y 2}
     {:type :wall, :x 10, :y 2}
     {:type :floor, :x 11, :y 2}
     {:type :wall, :x 12, :y 2}
     {:type :floor, :x 13, :y 2}
     {:type :wall, :x 14, :y 2}
     {:type :floor, :x 15, :y 2}
     {:type :wall, :x 16, :y 2}
     {:type :floor, :x 17, :y 2}
     {:type :wall, :x 18, :y 2}]
    [{:type :wall, :x 0, :y 3}
     {:type :floor, :x 1, :y 3}
     {:type :floor, :x 2, :y 3}
     {:type :floor, :x 3, :y 3}
     {:type :floor, :x 4, :y 3}
     {:type :floor, :x 5, :y 3}
     {:type :floor, :x 6, :y 3}
     {:type :floor, :x 7, :y 3}
     {:type :floor, :x 8, :y 3}
     {:type :floor, :x 9, :y 3}
     {:type :floor, :x 10, :y 3}
     {:type :floor, :x 11, :y 3}
     {:type :floor, :x 12, :y 3}
     {:type :floor, :x 13, :y 3}
     {:type :floor, :x 14, :y 3}
     {:type :floor, :x 15, :y 3}
     {:type :floor, :x 16, :y 3}
     {:type :floor, :x 17, :y 3}
     {:type :wall, :x 18, :y 3}]
    [{:type :wall, :x 0, :y 4}
     {:type :floor, :x 1, :y 4}
     {:type :wall, :x 2, :y 4}
     {:type :floor, :x 3, :y 4}
     {:type :wall, :x 4, :y 4}
     {:type :floor, :x 5, :y 4}
     {:type :wall, :x 6, :y 4}
     {:type :floor, :x 7, :y 4}
     {:type :wall, :x 8, :y 4}
     {:type :floor, :x 9, :y 4}
     {:type :wall, :x 10, :y 4}
     {:type :floor, :x 11, :y 4}
     {:type :wall, :x 12, :y 4}
     {:type :floor, :x 13, :y 4}
     {:type :wall, :x 14, :y 4}
     {:type :floor, :x 15, :y 4}
     {:type :wall, :x 16, :y 4}
     {:type :floor, :x 17, :y 4}
     {:type :wall, :x 18, :y 4}]
    [{:type :wall, :x 0, :y 5}
     {:type :floor, :x 1, :y 5}
     {:type :floor, :x 2, :y 5}
     {:type :floor, :x 3, :y 5}
     {:type :floor, :x 4, :y 5}
     {:type :floor, :x 5, :y 5}
     {:type :floor, :x 6, :y 5}
     {:type :floor, :x 7, :y 5}
     {:type :floor, :x 8, :y 5}
     {:type :floor, :x 9, :y 5}
     {:type :floor, :x 10, :y 5}
     {:type :floor, :x 11, :y 5}
     {:type :floor, :x 12, :y 5}
     {:type :floor, :x 13, :y 5}
     {:type :floor, :x 14, :y 5}
     {:type :floor, :x 15, :y 5}
     {:type :floor, :x 16, :y 5}
     {:type :floor, :x 17, :y 5}
     {:type :wall, :x 18, :y 5}]
    [{:type :wall, :x 0, :y 6}
     {:type :floor, :x 1, :y 6}
     {:type :wall, :x 2, :y 6}
     {:type :floor, :x 3, :y 6}
     {:type :wall, :x 4, :y 6}
     {:type :floor, :x 5, :y 6}
     {:type :wall, :x 6, :y 6}
     {:type :floor, :x 7, :y 6}
     {:type :wall, :x 8, :y 6}
     {:type :floor, :x 9, :y 6}
     {:type :wall, :x 10, :y 6}
     {:type :floor, :x 11, :y 6}
     {:type :wall, :x 12, :y 6}
     {:type :floor, :x 13, :y 6}
     {:type :wall, :x 14, :y 6}
     {:type :floor, :x 15, :y 6}
     {:type :wall, :x 16, :y 6}
     {:type :floor, :x 17, :y 6}
     {:type :wall, :x 18, :y 6}]
    [{:type :wall, :x 0, :y 7}
     {:type :floor, :x 1, :y 7}
     {:type :floor, :x 2, :y 7}
     {:type :floor, :x 3, :y 7}
     {:type :floor, :x 4, :y 7}
     {:type :floor, :x 5, :y 7}
     {:type :floor, :x 6, :y 7}
     {:type :floor, :x 7, :y 7}
     {:type :floor, :x 8, :y 7}
     {:type :floor, :x 9, :y 7}
     {:type :floor, :x 10, :y 7}
     {:type :floor, :x 11, :y 7}
     {:type :floor, :x 12, :y 7}
     {:type :floor, :x 13, :y 7}
     {:type :floor, :x 14, :y 7}
     {:type :floor, :x 15, :y 7}
     {:type :floor, :x 16, :y 7}
     {:type :floor, :x 17, :y 7}
     {:type :wall, :x 18, :y 7}]
    [{:type :wall, :x 0, :y 8}
     {:type :floor, :x 1, :y 8}
     {:type :wall, :x 2, :y 8}
     {:type :floor, :x 3, :y 8}
     {:type :wall, :x 4, :y 8}
     {:type :floor, :x 5, :y 8}
     {:type :wall, :x 6, :y 8}
     {:type :floor, :x 7, :y 8}
     {:type :wall, :x 8, :y 8}
     {:type :floor, :x 9, :y 8}
     {:type :wall, :x 10, :y 8}
     {:type :floor, :x 11, :y 8}
     {:type :wall, :x 12, :y 8}
     {:type :floor, :x 13, :y 8}
     {:type :wall, :x 14, :y 8}
     {:type :floor, :x 15, :y 8}
     {:type :wall, :x 16, :y 8}
     {:type :floor, :x 17, :y 8}
     {:type :wall, :x 18, :y 8}]
    [{:type :wall, :x 0, :y 9}
     {:type :floor, :x 1, :y 9}
     {:type :floor, :x 2, :y 9}
     {:type :floor, :x 3, :y 9}
     {:type :floor, :x 4, :y 9}
     {:type :floor, :x 5, :y 9}
     {:type :floor, :x 6, :y 9}
     {:type :floor, :x 7, :y 9}
     {:type :floor, :x 8, :y 9}
     {:type :floor, :x 9, :y 9}
     {:type :floor, :x 10, :y 9}
     {:type :floor, :x 11, :y 9}
     {:type :floor, :x 12, :y 9}
     {:type :floor, :x 13, :y 9}
     {:type :floor, :x 14, :y 9}
     {:type :floor, :x 15, :y 9}
     {:type :floor, :x 16, :y 9}
     {:type :floor, :x 17, :y 9}
     {:type :wall, :x 18, :y 9}]
    [{:type :wall, :x 0, :y 10}
     {:type :wall, :x 1, :y 10}
     {:type :wall, :x 2, :y 10}
     {:type :wall, :x 3, :y 10}
     {:type :wall, :x 4, :y 10}
     {:type :wall, :x 5, :y 10}
     {:type :wall, :x 6, :y 10}
     {:type :wall, :x 7, :y 10}
     {:type :wall, :x 8, :y 10}
     {:type :wall, :x 9, :y 10}
     {:type :wall, :x 10, :y 10}
     {:type :wall, :x 11, :y 10}
     {:type :wall, :x 12, :y 10}
     {:type :wall, :x 13, :y 10}
     {:type :wall, :x 14, :y 10}
     {:type :wall, :x 15, :y 10}
     {:type :wall, :x 16, :y 10}
     {:type :wall, :x 17, :y 10}
     {:type :wall, :x 18, :y 10}]]},
  #uuid "29170044-89c9-466d-9cbf-def66b73fe76"
  {:game-id #uuid "29170044-89c9-466d-9cbf-def66b73fe76",
   :game-name "JohnsGame",
   :game-state :ended,
   :winner #uuid "f36cf21b-b52c-4a3d-9b79-20e02841506b"},
  #uuid "96eb34ea-4426-45b6-81db-4814b4a9d981"
  {:game-id #uuid "96eb34ea-4426-45b6-81db-4814b4a9d981",
   :fire (),
   :stones
   ([3 1]
    [5 1]
    [6 1]
    [9 1]
    [10 1]
    [12 1]
    [5 2]
    [7 2]
    [11 2]
    [15 2]
    [1 3]
    [2 3]
    [3 3]
    [5 3]
    [6 3]
    [9 3]
    [10 3]
    [14 3]
    [15 3]
    [17 3]
    [1 4]
    [5 4]
    [11 4]
    [17 4]
    [1 5]
    [3 5]
    [4 5]
    [5 5]
    [9 5]
    [11 5]
    [12 5]
    [16 5]
    [17 5]
    [3 6]
    [5 6]
    [11 6]
    [13 6]
    [17 6]
    [1 7]
    [2 7]
    [3 7]
    [5 7]
    [9 7]
    [16 7]
    [17 7]
    [7 8]
    [11 8]
    [15 8]
    [3 9]
    [4 9]
    [5 9]
    [6 9]
    [7 9]
    [8 9]
    [10 9]
    [11 9]
    [12 9]
    [13 9]
    [15 9]),
   :password "pwd",
   :game-name "Fyra",
   :game-state :started,
   :flying-bombs (),
   :game-password "pwd",
   :players
   {#uuid "88edfc2d-e807-40b1-99f3-4132e86c5773"
    {:user-facing-direction :south,
     :max-nr-of-bombs-for-user 3,
     :position [1 1],
     :fire-length 2,
     :game-id #uuid "96eb34ea-4426-45b6-81db-4814b4a9d981",
     :player-id #uuid "88edfc2d-e807-40b1-99f3-4132e86c5773",
     :player-name "John",
     :player-nr 1},
    #uuid "0f076f84-77d4-479d-8006-619f6bbfe433"
    {:user-facing-direction :south,
     :max-nr-of-bombs-for-user 3,
     :position [17 9],
     :fire-length 2,
     :game-id #uuid "96eb34ea-4426-45b6-81db-4814b4a9d981",
     :player-id #uuid "0f076f84-77d4-479d-8006-619f6bbfe433",
     :player-name "Hannah",
     :player-nr 2},
    #uuid "2ed6036b-47de-4c6c-bdc6-6a8ead32c9b0"
    {:user-facing-direction :south,
     :max-nr-of-bombs-for-user 3,
     :position [1 9],
     :fire-length 2,
     :game-id #uuid "96eb34ea-4426-45b6-81db-4814b4a9d981",
     :player-id #uuid "2ed6036b-47de-4c6c-bdc6-6a8ead32c9b0",
     :player-name "Charlie",
     :player-nr 3},
    #uuid "1ec93592-5682-47e4-ad2a-c4a68e52b08b"
    {:user-facing-direction :south,
     :max-nr-of-bombs-for-user 3,
     :position [17 1],
     :fire-length 2,
     :game-id #uuid "96eb34ea-4426-45b6-81db-4814b4a9d981",
     :player-id #uuid "1ec93592-5682-47e4-ad2a-c4a68e52b08b",
     :player-name "Leo",
     :player-nr 4}},
   :items
   ({:item-position-xy [3 3], :item-power :inc-fire-length}
    {:item-position-xy [9 3], :item-power :inc-fire-length}
    {:item-position-xy [14 3], :item-power :inc-fire-length}
    {:item-position-xy [3 5], :item-power :inc-fire-length}
    {:item-position-xy [5 5], :item-power :inc-fire-length}
    {:item-position-xy [3 6], :item-power :inc-fire-length}
    {:item-position-xy [5 6], :item-power :inc-fire-length}
    {:item-position-xy [3 7], :item-power :inc-fire-length}
    {:item-position-xy [5 7], :item-power :inc-fire-length}
    {:item-position-xy [16 7], :item-power :inc-fire-length}
    {:item-position-xy [15 8], :item-power :inc-fire-length}
    {:item-position-xy [10 9], :item-power :inc-fire-length}
    {:item-position-xy [13 9], :item-power :inc-fire-length}),
   :bombs (),
   :subject #uuid "96eb34ea-4426-45b6-81db-4814b4a9d981",
   :board
   [[{:type :wall, :x 0, :y 0}
     {:type :wall, :x 1, :y 0}
     {:type :wall, :x 2, :y 0}
     {:type :wall, :x 3, :y 0}
     {:type :wall, :x 4, :y 0}
     {:type :wall, :x 5, :y 0}
     {:type :wall, :x 6, :y 0}
     {:type :wall, :x 7, :y 0}
     {:type :wall, :x 8, :y 0}
     {:type :wall, :x 9, :y 0}
     {:type :wall, :x 10, :y 0}
     {:type :wall, :x 11, :y 0}
     {:type :wall, :x 12, :y 0}
     {:type :wall, :x 13, :y 0}
     {:type :wall, :x 14, :y 0}
     {:type :wall, :x 15, :y 0}
     {:type :wall, :x 16, :y 0}
     {:type :wall, :x 17, :y 0}
     {:type :wall, :x 18, :y 0}]
    [{:type :wall, :x 0, :y 1}
     {:type :floor, :x 1, :y 1}
     {:type :floor, :x 2, :y 1}
     {:type :floor, :x 3, :y 1}
     {:type :floor, :x 4, :y 1}
     {:type :floor, :x 5, :y 1}
     {:type :floor, :x 6, :y 1}
     {:type :floor, :x 7, :y 1}
     {:type :floor, :x 8, :y 1}
     {:type :floor, :x 9, :y 1}
     {:type :floor, :x 10, :y 1}
     {:type :floor, :x 11, :y 1}
     {:type :floor, :x 12, :y 1}
     {:type :floor, :x 13, :y 1}
     {:type :floor, :x 14, :y 1}
     {:type :floor, :x 15, :y 1}
     {:type :floor, :x 16, :y 1}
     {:type :floor, :x 17, :y 1}
     {:type :wall, :x 18, :y 1}]
    [{:type :wall, :x 0, :y 2}
     {:type :floor, :x 1, :y 2}
     {:type :wall, :x 2, :y 2}
     {:type :floor, :x 3, :y 2}
     {:type :wall, :x 4, :y 2}
     {:type :floor, :x 5, :y 2}
     {:type :wall, :x 6, :y 2}
     {:type :floor, :x 7, :y 2}
     {:type :wall, :x 8, :y 2}
     {:type :floor, :x 9, :y 2}
     {:type :wall, :x 10, :y 2}
     {:type :floor, :x 11, :y 2}
     {:type :wall, :x 12, :y 2}
     {:type :floor, :x 13, :y 2}
     {:type :wall, :x 14, :y 2}
     {:type :floor, :x 15, :y 2}
     {:type :wall, :x 16, :y 2}
     {:type :floor, :x 17, :y 2}
     {:type :wall, :x 18, :y 2}]
    [{:type :wall, :x 0, :y 3}
     {:type :floor, :x 1, :y 3}
     {:type :floor, :x 2, :y 3}
     {:type :floor, :x 3, :y 3}
     {:type :floor, :x 4, :y 3}
     {:type :floor, :x 5, :y 3}
     {:type :floor, :x 6, :y 3}
     {:type :floor, :x 7, :y 3}
     {:type :floor, :x 8, :y 3}
     {:type :floor, :x 9, :y 3}
     {:type :floor, :x 10, :y 3}
     {:type :floor, :x 11, :y 3}
     {:type :floor, :x 12, :y 3}
     {:type :floor, :x 13, :y 3}
     {:type :floor, :x 14, :y 3}
     {:type :floor, :x 15, :y 3}
     {:type :floor, :x 16, :y 3}
     {:type :floor, :x 17, :y 3}
     {:type :wall, :x 18, :y 3}]
    [{:type :wall, :x 0, :y 4}
     {:type :floor, :x 1, :y 4}
     {:type :wall, :x 2, :y 4}
     {:type :floor, :x 3, :y 4}
     {:type :wall, :x 4, :y 4}
     {:type :floor, :x 5, :y 4}
     {:type :wall, :x 6, :y 4}
     {:type :floor, :x 7, :y 4}
     {:type :wall, :x 8, :y 4}
     {:type :floor, :x 9, :y 4}
     {:type :wall, :x 10, :y 4}
     {:type :floor, :x 11, :y 4}
     {:type :wall, :x 12, :y 4}
     {:type :floor, :x 13, :y 4}
     {:type :wall, :x 14, :y 4}
     {:type :floor, :x 15, :y 4}
     {:type :wall, :x 16, :y 4}
     {:type :floor, :x 17, :y 4}
     {:type :wall, :x 18, :y 4}]
    [{:type :wall, :x 0, :y 5}
     {:type :floor, :x 1, :y 5}
     {:type :floor, :x 2, :y 5}
     {:type :floor, :x 3, :y 5}
     {:type :floor, :x 4, :y 5}
     {:type :floor, :x 5, :y 5}
     {:type :floor, :x 6, :y 5}
     {:type :floor, :x 7, :y 5}
     {:type :floor, :x 8, :y 5}
     {:type :floor, :x 9, :y 5}
     {:type :floor, :x 10, :y 5}
     {:type :floor, :x 11, :y 5}
     {:type :floor, :x 12, :y 5}
     {:type :floor, :x 13, :y 5}
     {:type :floor, :x 14, :y 5}
     {:type :floor, :x 15, :y 5}
     {:type :floor, :x 16, :y 5}
     {:type :floor, :x 17, :y 5}
     {:type :wall, :x 18, :y 5}]
    [{:type :wall, :x 0, :y 6}
     {:type :floor, :x 1, :y 6}
     {:type :wall, :x 2, :y 6}
     {:type :floor, :x 3, :y 6}
     {:type :wall, :x 4, :y 6}
     {:type :floor, :x 5, :y 6}
     {:type :wall, :x 6, :y 6}
     {:type :floor, :x 7, :y 6}
     {:type :wall, :x 8, :y 6}
     {:type :floor, :x 9, :y 6}
     {:type :wall, :x 10, :y 6}
     {:type :floor, :x 11, :y 6}
     {:type :wall, :x 12, :y 6}
     {:type :floor, :x 13, :y 6}
     {:type :wall, :x 14, :y 6}
     {:type :floor, :x 15, :y 6}
     {:type :wall, :x 16, :y 6}
     {:type :floor, :x 17, :y 6}
     {:type :wall, :x 18, :y 6}]
    [{:type :wall, :x 0, :y 7}
     {:type :floor, :x 1, :y 7}
     {:type :floor, :x 2, :y 7}
     {:type :floor, :x 3, :y 7}
     {:type :floor, :x 4, :y 7}
     {:type :floor, :x 5, :y 7}
     {:type :floor, :x 6, :y 7}
     {:type :floor, :x 7, :y 7}
     {:type :floor, :x 8, :y 7}
     {:type :floor, :x 9, :y 7}
     {:type :floor, :x 10, :y 7}
     {:type :floor, :x 11, :y 7}
     {:type :floor, :x 12, :y 7}
     {:type :floor, :x 13, :y 7}
     {:type :floor, :x 14, :y 7}
     {:type :floor, :x 15, :y 7}
     {:type :floor, :x 16, :y 7}
     {:type :floor, :x 17, :y 7}
     {:type :wall, :x 18, :y 7}]
    [{:type :wall, :x 0, :y 8}
     {:type :floor, :x 1, :y 8}
     {:type :wall, :x 2, :y 8}
     {:type :floor, :x 3, :y 8}
     {:type :wall, :x 4, :y 8}
     {:type :floor, :x 5, :y 8}
     {:type :wall, :x 6, :y 8}
     {:type :floor, :x 7, :y 8}
     {:type :wall, :x 8, :y 8}
     {:type :floor, :x 9, :y 8}
     {:type :wall, :x 10, :y 8}
     {:type :floor, :x 11, :y 8}
     {:type :wall, :x 12, :y 8}
     {:type :floor, :x 13, :y 8}
     {:type :wall, :x 14, :y 8}
     {:type :floor, :x 15, :y 8}
     {:type :wall, :x 16, :y 8}
     {:type :floor, :x 17, :y 8}
     {:type :wall, :x 18, :y 8}]
    [{:type :wall, :x 0, :y 9}
     {:type :floor, :x 1, :y 9}
     {:type :floor, :x 2, :y 9}
     {:type :floor, :x 3, :y 9}
     {:type :floor, :x 4, :y 9}
     {:type :floor, :x 5, :y 9}
     {:type :floor, :x 6, :y 9}
     {:type :floor, :x 7, :y 9}
     {:type :floor, :x 8, :y 9}
     {:type :floor, :x 9, :y 9}
     {:type :floor, :x 10, :y 9}
     {:type :floor, :x 11, :y 9}
     {:type :floor, :x 12, :y 9}
     {:type :floor, :x 13, :y 9}
     {:type :floor, :x 14, :y 9}
     {:type :floor, :x 15, :y 9}
     {:type :floor, :x 16, :y 9}
     {:type :floor, :x 17, :y 9}
     {:type :wall, :x 18, :y 9}]
    [{:type :wall, :x 0, :y 10}
     {:type :wall, :x 1, :y 10}
     {:type :wall, :x 2, :y 10}
     {:type :wall, :x 3, :y 10}
     {:type :wall, :x 4, :y 10}
     {:type :wall, :x 5, :y 10}
     {:type :wall, :x 6, :y 10}
     {:type :wall, :x 7, :y 10}
     {:type :wall, :x 8, :y 10}
     {:type :wall, :x 9, :y 10}
     {:type :wall, :x 10, :y 10}
     {:type :wall, :x 11, :y 10}
     {:type :wall, :x 12, :y 10}
     {:type :wall, :x 13, :y 10}
     {:type :wall, :x 14, :y 10}
     {:type :wall, :x 15, :y 10}
     {:type :wall, :x 16, :y 10}
     {:type :wall, :x 17, :y 10}
     {:type :wall, :x 18, :y 10}]]}},
 :active-games
 {"qwe" #uuid "942fe7a3-f970-4e84-8e74-31b786492493",
  "Fyra" #uuid "96eb34ea-4426-45b6-81db-4814b4a9d981"},
 :old-games
 {#uuid "29170044-89c9-466d-9cbf-def66b73fe76"
  {:game-id #uuid "29170044-89c9-466d-9cbf-def66b73fe76",
   :fire
   ({:game-id #uuid "29170044-89c9-466d-9cbf-def66b73fe76",
     :player-id #uuid "f36cf21b-b52c-4a3d-9b79-20e02841506b",
     :fire-position-xy [15 9],
     :fire-start-timestamp #inst "2021-09-19T15:21:38.111-00:00"}
    {:game-id #uuid "29170044-89c9-466d-9cbf-def66b73fe76",
     :player-id #uuid "f36cf21b-b52c-4a3d-9b79-20e02841506b",
     :fire-position-xy [16 9],
     :fire-start-timestamp #inst "2021-09-19T15:21:38.111-00:00"}
    {:game-id #uuid "29170044-89c9-466d-9cbf-def66b73fe76",
     :player-id #uuid "f36cf21b-b52c-4a3d-9b79-20e02841506b",
     :fire-position-xy [17 7],
     :fire-start-timestamp #inst "2021-09-19T15:21:38.111-00:00"}
    {:game-id #uuid "29170044-89c9-466d-9cbf-def66b73fe76",
     :player-id #uuid "f36cf21b-b52c-4a3d-9b79-20e02841506b",
     :fire-position-xy [17 8],
     :fire-start-timestamp #inst "2021-09-19T15:21:38.111-00:00"}
    {:game-id #uuid "29170044-89c9-466d-9cbf-def66b73fe76",
     :player-id #uuid "f36cf21b-b52c-4a3d-9b79-20e02841506b",
     :fire-position-xy [17 9],
     :fire-start-timestamp #inst "2021-09-19T15:21:38.111-00:00"}),
   :stones
   ([3 1]
    [4 1]
    [5 1]
    [7 1]
    [8 1]
    [9 1]
    [10 1]
    [12 1]
    [13 1]
    [14 1]
    [3 2]
    [5 2]
    [7 2]
    [9 2]
    [13 2]
    [15 2]
    [4 3]
    [5 3]
    [10 3]
    [11 3]
    [13 3]
    [15 3]
    [17 3]
    [3 4]
    [5 4]
    [7 4]
    [9 4]
    [11 4]
    [13 4]
    [15 4]
    [2 5]
    [3 5]
    [4 5]
    [6 5]
    [7 5]
    [8 5]
    [10 5]
    [11 5]
    [12 5]
    [14 5]
    [15 5]
    [17 5]
    [3 6]
    [5 6]
    [9 6]
    [13 6]
    [17 6]
    [2 7]
    [5 7]
    [6 7]
    [11 7]
    [12 7]
    [13 7]
    [16 7]
    [5 8]
    [9 8]
    [11 8]
    [13 8]
    [15 8]
    [4 9]
    [5 9]
    [6 9]
    [9 9]
    [10 9]
    [11 9]
    [12 9]
    [13 9]
    [14 9]),
   :winner #uuid "f36cf21b-b52c-4a3d-9b79-20e02841506b",
   :password "pwd",
   :game-name "JohnsGame",
   :game-state :ended,
   :flying-bombs (),
   :game-password "pwd",
   :dead-players
   {#uuid "774191f2-955f-4bbd-ac34-3c194991ca1a"
    {:game-id #uuid "29170044-89c9-466d-9cbf-def66b73fe76",
     :fire-length 2,
     :max-nr-of-bombs-for-user 3,
     :player-id #uuid "774191f2-955f-4bbd-ac34-3c194991ca1a",
     :user-facing-direction :south,
     :player-nr 2,
     :killed-by #uuid "f36cf21b-b52c-4a3d-9b79-20e02841506b",
     :position [17 9],
     :player-name "Hannah",
     :player-status :dead}},
   :players
   {#uuid "f36cf21b-b52c-4a3d-9b79-20e02841506b"
    {:user-facing-direction :west,
     :max-nr-of-bombs-for-user 3,
     :position [1 9],
     :fire-length 3,
     :game-id #uuid "29170044-89c9-466d-9cbf-def66b73fe76",
     :player-id #uuid "f36cf21b-b52c-4a3d-9b79-20e02841506b",
     :player-name "John",
     :player-nr 1}},
   :items
   ({:item-position-xy [4 1], :item-power :inc-fire-length}
    {:item-position-xy [5 1], :item-power :inc-fire-length}
    {:item-position-xy [13 1], :item-power :inc-fire-length}
    {:item-position-xy [5 2], :item-power :inc-fire-length}
    {:item-position-xy [10 3], :item-power :inc-fire-length}
    {:item-position-xy [11 3], :item-power :inc-fire-length}
    {:item-position-xy [13 3], :item-power :inc-fire-length}
    {:item-position-xy [11 4], :item-power :inc-fire-length}
    {:item-position-xy [3 5], :item-power :inc-fire-length}
    {:item-position-xy [17 5], :item-power :inc-fire-length}
    {:item-position-xy [5 6], :item-power :inc-fire-length}
    {:item-position-xy [17 6], :item-power :inc-fire-length}
    {:item-position-xy [5 7], :item-power :inc-fire-length}
    {:item-position-xy [12 7], :item-power :inc-fire-length}
    {:item-position-xy [9 8], :item-power :inc-fire-length}
    {:item-position-xy [15 8], :item-power :inc-fire-length}
    {:item-position-xy [6 9], :item-power :inc-fire-length}
    {:item-position-xy [12 9], :item-power :inc-fire-length}),
   :bombs (),
   :subject #uuid "29170044-89c9-466d-9cbf-def66b73fe76",
   :board
   [[{:type :wall, :x 0, :y 0}
     {:type :wall, :x 1, :y 0}
     {:type :wall, :x 2, :y 0}
     {:type :wall, :x 3, :y 0}
     {:type :wall, :x 4, :y 0}
     {:type :wall, :x 5, :y 0}
     {:type :wall, :x 6, :y 0}
     {:type :wall, :x 7, :y 0}
     {:type :wall, :x 8, :y 0}
     {:type :wall, :x 9, :y 0}
     {:type :wall, :x 10, :y 0}
     {:type :wall, :x 11, :y 0}
     {:type :wall, :x 12, :y 0}
     {:type :wall, :x 13, :y 0}
     {:type :wall, :x 14, :y 0}
     {:type :wall, :x 15, :y 0}
     {:type :wall, :x 16, :y 0}
     {:type :wall, :x 17, :y 0}
     {:type :wall, :x 18, :y 0}]
    [{:type :wall, :x 0, :y 1}
     {:type :floor, :x 1, :y 1}
     {:type :floor, :x 2, :y 1}
     {:type :floor, :x 3, :y 1}
     {:type :floor, :x 4, :y 1}
     {:type :floor, :x 5, :y 1}
     {:type :floor, :x 6, :y 1}
     {:type :floor, :x 7, :y 1}
     {:type :floor, :x 8, :y 1}
     {:type :floor, :x 9, :y 1}
     {:type :floor, :x 10, :y 1}
     {:type :floor, :x 11, :y 1}
     {:type :floor, :x 12, :y 1}
     {:type :floor, :x 13, :y 1}
     {:type :floor, :x 14, :y 1}
     {:type :floor, :x 15, :y 1}
     {:type :floor, :x 16, :y 1}
     {:type :floor, :x 17, :y 1}
     {:type :wall, :x 18, :y 1}]
    [{:type :wall, :x 0, :y 2}
     {:type :floor, :x 1, :y 2}
     {:type :wall, :x 2, :y 2}
     {:type :floor, :x 3, :y 2}
     {:type :wall, :x 4, :y 2}
     {:type :floor, :x 5, :y 2}
     {:type :wall, :x 6, :y 2}
     {:type :floor, :x 7, :y 2}
     {:type :wall, :x 8, :y 2}
     {:type :floor, :x 9, :y 2}
     {:type :wall, :x 10, :y 2}
     {:type :floor, :x 11, :y 2}
     {:type :wall, :x 12, :y 2}
     {:type :floor, :x 13, :y 2}
     {:type :wall, :x 14, :y 2}
     {:type :floor, :x 15, :y 2}
     {:type :wall, :x 16, :y 2}
     {:type :floor, :x 17, :y 2}
     {:type :wall, :x 18, :y 2}]
    [{:type :wall, :x 0, :y 3}
     {:type :floor, :x 1, :y 3}
     {:type :floor, :x 2, :y 3}
     {:type :floor, :x 3, :y 3}
     {:type :floor, :x 4, :y 3}
     {:type :floor, :x 5, :y 3}
     {:type :floor, :x 6, :y 3}
     {:type :floor, :x 7, :y 3}
     {:type :floor, :x 8, :y 3}
     {:type :floor, :x 9, :y 3}
     {:type :floor, :x 10, :y 3}
     {:type :floor, :x 11, :y 3}
     {:type :floor, :x 12, :y 3}
     {:type :floor, :x 13, :y 3}
     {:type :floor, :x 14, :y 3}
     {:type :floor, :x 15, :y 3}
     {:type :floor, :x 16, :y 3}
     {:type :floor, :x 17, :y 3}
     {:type :wall, :x 18, :y 3}]
    [{:type :wall, :x 0, :y 4}
     {:type :floor, :x 1, :y 4}
     {:type :wall, :x 2, :y 4}
     {:type :floor, :x 3, :y 4}
     {:type :wall, :x 4, :y 4}
     {:type :floor, :x 5, :y 4}
     {:type :wall, :x 6, :y 4}
     {:type :floor, :x 7, :y 4}
     {:type :wall, :x 8, :y 4}
     {:type :floor, :x 9, :y 4}
     {:type :wall, :x 10, :y 4}
     {:type :floor, :x 11, :y 4}
     {:type :wall, :x 12, :y 4}
     {:type :floor, :x 13, :y 4}
     {:type :wall, :x 14, :y 4}
     {:type :floor, :x 15, :y 4}
     {:type :wall, :x 16, :y 4}
     {:type :floor, :x 17, :y 4}
     {:type :wall, :x 18, :y 4}]
    [{:type :wall, :x 0, :y 5}
     {:type :floor, :x 1, :y 5}
     {:type :floor, :x 2, :y 5}
     {:type :floor, :x 3, :y 5}
     {:type :floor, :x 4, :y 5}
     {:type :floor, :x 5, :y 5}
     {:type :floor, :x 6, :y 5}
     {:type :floor, :x 7, :y 5}
     {:type :floor, :x 8, :y 5}
     {:type :floor, :x 9, :y 5}
     {:type :floor, :x 10, :y 5}
     {:type :floor, :x 11, :y 5}
     {:type :floor, :x 12, :y 5}
     {:type :floor, :x 13, :y 5}
     {:type :floor, :x 14, :y 5}
     {:type :floor, :x 15, :y 5}
     {:type :floor, :x 16, :y 5}
     {:type :floor, :x 17, :y 5}
     {:type :wall, :x 18, :y 5}]
    [{:type :wall, :x 0, :y 6}
     {:type :floor, :x 1, :y 6}
     {:type :wall, :x 2, :y 6}
     {:type :floor, :x 3, :y 6}
     {:type :wall, :x 4, :y 6}
     {:type :floor, :x 5, :y 6}
     {:type :wall, :x 6, :y 6}
     {:type :floor, :x 7, :y 6}
     {:type :wall, :x 8, :y 6}
     {:type :floor, :x 9, :y 6}
     {:type :wall, :x 10, :y 6}
     {:type :floor, :x 11, :y 6}
     {:type :wall, :x 12, :y 6}
     {:type :floor, :x 13, :y 6}
     {:type :wall, :x 14, :y 6}
     {:type :floor, :x 15, :y 6}
     {:type :wall, :x 16, :y 6}
     {:type :floor, :x 17, :y 6}
     {:type :wall, :x 18, :y 6}]
    [{:type :wall, :x 0, :y 7}
     {:type :floor, :x 1, :y 7}
     {:type :floor, :x 2, :y 7}
     {:type :floor, :x 3, :y 7}
     {:type :floor, :x 4, :y 7}
     {:type :floor, :x 5, :y 7}
     {:type :floor, :x 6, :y 7}
     {:type :floor, :x 7, :y 7}
     {:type :floor, :x 8, :y 7}
     {:type :floor, :x 9, :y 7}
     {:type :floor, :x 10, :y 7}
     {:type :floor, :x 11, :y 7}
     {:type :floor, :x 12, :y 7}
     {:type :floor, :x 13, :y 7}
     {:type :floor, :x 14, :y 7}
     {:type :floor, :x 15, :y 7}
     {:type :floor, :x 16, :y 7}
     {:type :floor, :x 17, :y 7}
     {:type :wall, :x 18, :y 7}]
    [{:type :wall, :x 0, :y 8}
     {:type :floor, :x 1, :y 8}
     {:type :wall, :x 2, :y 8}
     {:type :floor, :x 3, :y 8}
     {:type :wall, :x 4, :y 8}
     {:type :floor, :x 5, :y 8}
     {:type :wall, :x 6, :y 8}
     {:type :floor, :x 7, :y 8}
     {:type :wall, :x 8, :y 8}
     {:type :floor, :x 9, :y 8}
     {:type :wall, :x 10, :y 8}
     {:type :floor, :x 11, :y 8}
     {:type :wall, :x 12, :y 8}
     {:type :floor, :x 13, :y 8}
     {:type :wall, :x 14, :y 8}
     {:type :floor, :x 15, :y 8}
     {:type :wall, :x 16, :y 8}
     {:type :floor, :x 17, :y 8}
     {:type :wall, :x 18, :y 8}]
    [{:type :wall, :x 0, :y 9}
     {:type :floor, :x 1, :y 9}
     {:type :floor, :x 2, :y 9}
     {:type :floor, :x 3, :y 9}
     {:type :floor, :x 4, :y 9}
     {:type :floor, :x 5, :y 9}
     {:type :floor, :x 6, :y 9}
     {:type :floor, :x 7, :y 9}
     {:type :floor, :x 8, :y 9}
     {:type :floor, :x 9, :y 9}
     {:type :floor, :x 10, :y 9}
     {:type :floor, :x 11, :y 9}
     {:type :floor, :x 12, :y 9}
     {:type :floor, :x 13, :y 9}
     {:type :floor, :x 14, :y 9}
     {:type :floor, :x 15, :y 9}
     {:type :floor, :x 16, :y 9}
     {:type :floor, :x 17, :y 9}
     {:type :wall, :x 18, :y 9}]
    [{:type :wall, :x 0, :y 10}
     {:type :wall, :x 1, :y 10}
     {:type :wall, :x 2, :y 10}
     {:type :wall, :x 3, :y 10}
     {:type :wall, :x 4, :y 10}
     {:type :wall, :x 5, :y 10}
     {:type :wall, :x 6, :y 10}
     {:type :wall, :x 7, :y 10}
     {:type :wall, :x 8, :y 10}
     {:type :wall, :x 9, :y 10}
     {:type :wall, :x 10, :y 10}
     {:type :wall, :x 11, :y 10}
     {:type :wall, :x 12, :y 10}
     {:type :wall, :x 13, :y 10}
     {:type :wall, :x 14, :y 10}
     {:type :wall, :x 15, :y 10}
     {:type :wall, :x 16, :y 10}
     {:type :wall, :x 17, :y 10}
     {:type :wall, :x 18, :y 10}]]}}}
